#reveal1 {
  display: none;
}

#reveal2 {
  display: none;
}

#reveal3 {
  display: none;
}

#reveal4 {
  display: none;
}

#reveal5 {
  display: none;
}

#reveal6 {
  display: none;
}

#reveal7 {
  display: none;
}

#reveal8 {
  display: none;
}

.well {
  border: 1px solid #343a40;
  background-color: #6c757d;
  color: white;
}
